{% extends "base.html" %}

{% block page_title %}
    {{ page_title}}
{% endblock page_title %}

{% block content %}

    <h1>{{page_title}}</h1>
    {% for toko in Toko %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{toko.nama_user.profile.image.url}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'customer:toko-detail' toko.id %}">{{ toko.nama_toko }}</a>
              <small class="text-muted">{{ toko.no_telepon }}</small>
            </div>
            <!-- <h2><a class="article-title" href="#">{{ post.title }}</a></h2> -->
            <p class="article-content">{{ toko.alamat }}</p>
            <p class="article-content">{{ toko.deskripsi_singkat }}</p>
          </div>
        </article>
      <!--   <h1>{{toko.nama_toko}}</h1>
        <p>{{toko.no_telepon}}</p>
        <p>{{toko.deskripsi_singkat}}</p>
        <p>{{toko.alamat}}</p> -->
    {% endfor %}

{% endblock content %}
